.ui-noteInput-textarea {
	margin-left: 30px;
	margin-top: 10px;
	width: 500px;
	height: 100px;
	resize: none;
	float: left;
}

.ui-noteInput-input,.ui-noteInput-span {
	margin-left: 30px;
	margin-top: 10px;
}

.ui-noteInput-btn {
	margin-top: 30px;
	margin-left: 20px;
	height: 50px;
	line-height: 35px;
	width: 80px;
	text-align: center;
	float: left;
}

.ui-noteInput-div{
	margin:10px auto;
	width: 650px;
	border-style: solid; 
	border-width: 1px;
	margin-bottom: 50px;
}

.ui-noteShow-div{
	margin:0px auto;
	width: 1000px;
	height: 400px;
	border-style: solid; 
	border-width: 1px;
	overflow: auto;
}

.ui-clear-both{
	clear: both;
}

.ui-float-left{
	float: left;
}

.ui-float-right{
	float: right;
}

.ui-marginB-20{
	margin-bottom: 20px;
}

.ui-marginT-10{
	margin-top: 10px;
}

.ui-width-100{
	width: 100px;
}

.ui-width-900{
	width: 900px;
}

.ui-del-div{
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}