
.ui-display-none{
	display: none;
}

.ui-display-inline{
	display: inline;
}

.ui-display-inlineBlock{
	display: inline-block;
}

.ui-clear-both{
	clear: both;
}

.ui-float-left{
	float: left;
}

.ui-float-right{
	float: right;
}

.ui-marginB-20{
	margin-bottom: 20px;
}

.ui-marginT-10{
	margin-top: 10px;
}

.ui-marginL-15{
	margin-left: 15px;
}

.ui-marginR-20{
	margin-right: 20px;
}

.ui-width-100{
	width: 100px;
}

.ui-width-900{
	width: 900px;
}